service mtk-secure-element-hal-service /vendor/bin/hw/android.hardware.secure_element@1.2-service-mediatek
    override
    class hal
    user secure_element
    group secure_element
    disabled

service vendor.secure-element /vendor/bin/hw/vendor.xiaomi.hardware.secure_element@1.2-service
    override
    class late_start
    user system
    group nfc secure_element
    disabled

on boot
    enable mtk-secure-element-hal-service
    enable vendor.secure-element
